<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css"/>
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="footerdiv">
    <div class="footeryear">
        <p>@2024 TheCocktailDB</p>
        <p>Proudly built in India</p>
    </div>
    <div class="socialsites">
        <p>Socials
            <span><a href="https://www.facebook.com/TheDataDB/"><img src="/images/facebook.svg" height="20px" width="20px"></a></span>
            <span><a href="https://x.com/i/flow/login?redirect_after_login=%2FTheAudioDB"><img src="/images/twitter.png" height="20px" width="20px"></a></span>
            <span><a href="https://www.linkedin.com/TheDataDB/"><img src="/images/linkedin.svg" height="20px" width="20px"></a></span>
        </p>
        <a href="https://www.thesportsdb.com/"><img src="/images/logo-tsdb.png" height="30px" width="100px">
        <a href="https://www.theaudiodb.com/"><img src="/images/logo-tadb.png" height="30px" width="100px">
        <a href="https://www.themealdb.com/"><img src="/images/logo-tmdb.png" height="30px" width="100px">
    </div>
    <div class="siteinfo">
        <a href="/Missing"><span>Missing</span></a>
            <a href="/About"><span>About</span> </a>
            <a href="/Faq"><span>Faq</span> </a>
            <a href="/Contact"><span>Contact</span> </a>
    </div>
</div>
    </footer>
</body>
</html>