<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
   
    <div class="container">
        
        <%- include("Partials/header.ejs") %>
        <div class="aboutcontent">
        <p>About</p>
        <p>TheCocktailDB was built in 2015 to provide a free data source api for drinks online
            in the hope that developers would build applications and cool projects ontop of it.
            TheCocktailDB originated on the Kodi forums as a way to browse cocktail recipes on your TV.</p>
            <img src="/images/kodi_addon.jpg" width="600px" height="350px"/>
            <p>There are also some supporting Apps</p>
            <p>JavaScript <a href=">https://www.npmjs.com/package/cocktail-api-search"><span>https://www.npmjs.com/package/cocktail-api-search</span></a>
            </p>
            <p>Many developers have since contributed to the project and built apps on top of it. You can see some of them listed below:</p>
    <div><img src="/images/ddg.png" width="150px" height="150px" /><img src="/images/kodi_logo.png" width="150px" height="150px"/></div>
    
    <p>TheCocktailDB is also used by universities to tech web design and programming as it has an easy to use API and cool content.</p>
<img src="/images/uni.png" width="600px" height="350px"/> 
<p>There are also some chatbots available that use our API:</p>
<p>Discord <a href="https://github.com/Richardson-Media-House/Kirbi/"><span>https://github.com/Richardson-Media-House/Kirbi/</span></a> </p>           
<p>And used in Apps for <a href="https://play.google.com/store/apps/details?id=com.mytech.cocktail2go&pli=1"><span>Android</span></a> and <a href="https://apps.apple.com/us/app/cocktail-recipes-to-go/id1150892210?l=de&ls=1"><span>iPhone</span></a> !</p>
<img src="/images/iphone1.jpeg" width="200px" height="300px">
<img src="/images/iphone2.jpeg" width="200px" height="300px">
<img src="/images/iphone3.jpeg" width="200px" height="300px">
<p>There is also an app created for the pebble smart watch!</p>
<img src="/images/pebble.jpg" width="350px" height="150px"/>
</div>
<%- include("Partials/footer.ejs") %>
</div>
</body>
</html>