<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Details</title>
</head>
<body>
    <div class="container">
        <%- include("Partials/header.ejs") %>
        <div class="contactdiv">
       <p>Contact</p>
       <p>Email: thedatadb@gmail.com</p>
       <p>Copyright Notice</p>
       <p>The CocktailDB encourages all users to upload content that they create such as drinks photo's
        As an open, user-generated site, content may slip through our moderation process.
        If you claim copyright on any images on the site please send us an email and valid requests will remove within 48hrs.
        Alternatively we are happy to credit and link images if prefered.</p>
        <p>Related sites:</p>
        <a href="https://www.theaudiodb.com/"><img src="/images/logo-tadb.png" height="30px" width="100px">
            <a href="https://www.thesportsdb.com/"><img src="/images/logo-tsdb.png" height="30px" width="100px">
                <a href="https://www.themealdb.com/"><img src="/images/logo-tmdb.png" height="30px" width="100px">
    </div>
    <%- include("Partials/footer.ejs") %>
    </div>
</body>
</html>