<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missing Details</title>
</head>
<body>
    <div class="container">
        
        <%- include("Partials/header.ejs") %>
        <div class="Missingcontent">
                <p>Drinks: Missing Images</p>
                <p><b>NOTE:</b> To find images try a google image search for the main ingredients listed. Click the search icon to find the first 2 ingredients
                </p>
                <p>None Found, all drinks have images!</p>
        </div>
        <%- include("Partials/footer.ejs") %>
    </div>
</body>
</html>